img{
    height: 310px;
    width: auto;
    
}

p{
    font: 30px Arial;
   
}
.grid {
    border: 2px solid #000;
    width: 300px;
    height: 300px;
    flex: auto;
  }

  .box {
    background-color: rgba(17, 0, 255, 0.637);
  }


  button {
    border: 1px solid #000;
    background: none;
    width: calc(100% / 3);
    height: calc(100% / 3);
    float: left;
    padding: 0;
    cursor: pointer;
  }

  .box:hover{
    background-color: rgba(255, 0, 0, 0.349);
  }